body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}


/* ===================================heading============================= */

.heading {
    position: absolute;
    text-align: center;
    top: 25%;
    /* left: 10%; */
    align-content: center;
}

.heading h1 {
    color: lightskyblue;
    font-size: 60px;
}

.heading h3 {
    color: lightskyblue;
    font-size: 20px;
}

#particles-js {
    background: black;
    height: 100vh;
}

.text-slider-items {
    display: none;
}

.text-slider {
    color: lightskyblue;
}


/* .main-img {
    height: 200px;
    width: 200px;
} */